/* index.css */
:root {
  --primary-color: #28bf96;
  --primary-color-dark: #209677;
  --text-dark: #111827;
  --text-light: #6b7280;
  --white: #ffffff;
  --font-text: "Roboto", sans-serif;
  --max-width: 1200px;

  /* dashboard  */
  --body-color: #f0f1f2;
  --sidebar-color: #ffffff;
  --primary-color-light: #F6F5FF;

  /* transition */
  --tran-02: all 0.2s ease;
  --tran-03: all 0.3s ease;
  --tran-04: all 0.4s ease; 
  --tran-05: all 0.5s ease;

}

body {
  margin: 0;
  padding: 0;
}
