.container {
    height: 100vh;
    background: var(--body-color);
    font-family: var(--font-text);
}

/* sidebar  */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height:100vh;
    width: 250px;
    background-color: var(--sidebar-color);
    padding: 10px 14px;
    transition: var(--tran-05);
}

.sidebar.close{
    width: 60px;
}

.sidebar.close .text{
    display: none;
    transition: var(--tran-04);
}
.sidebar.close li button{
    display: flex;
    justify-content: center;
}

/* reusable css   */
.sidebar .text {
    font-size: 16px;
    font-weight: 500;
    color: var(--text-light);
}

.sidebar .image {
    min-width: 60px;
    display: flex;
    align-items: center;
}

.sidebar li {
    height: 50px;
    /* background-color: red; */
    margin-top: 10px;
    list-style: none;
    display: flex;
    align-items: center;
}

.sidebar li .icon{
    font-size: 20px;
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar li .icon,
.sidebar li .text{
    color: var(--text-light);
    transition: var(--tran-03);
}

.sidebar .image_text img {
    width: 40px;
    border-radius: 6px;
}

.sidebar header {
    position: relative;
}

.sidebar header .image_text {
    display: flex;
    align-items: center;
}

header .image_text .header_text {
    display: flex;
    flex-direction: column;
}

.header_text .name {
    font-weight: 600;
}

.header_text .profession {
    margin-top: -2px;
}

.sidebar header .toggle {
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%);
    height: 30px;
    width: 30px;
    background: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
    display: flex;
    border-radius: 50%;
    cursor: pointer;
    font-size: 25px;
}

.sidebar li a{
    text-decoration: none;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 5px;
    transition: var(--tran-04);
}

.sidebar li button{
    border: none;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    height: 100%;
    width: 100%;
    border-radius: 5px;
    transition: var(--tran-04);
    background-color: var(--sidebar-color);
    cursor: pointer;
}

.sidebar li button:hover{
    background: var(--primary-color);
}

.sidebar li button:hover .icon,
.sidebar li button:hover .text{
    color: var(--sidebar-color);
}

.sidebar li a:hover{
    background: var(--primary-color);
}

.sidebar li a:hover .icon,
.sidebar li a:hover .text{
    color: var(--sidebar-color);
}

.sidebar .menu_bar{
    /* background-color: rebeccapurple; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100% - 100px);
}